<tr>
  <td><%= consumable_type.name %></td>
  <td><%= consumable_type.days_to_keep %></td>
  <td><%= consumable_type.storage_condition %></td>
  <td class="text-center">
    <%= link_to edit_consumable_type_path(consumable_type) do %>
      <%= fa_icon "pencil", title: "Edit" %>
    <% end %>
  </td>
  <td>
    <% if consumable_type.active? %>
      <%= link_to deactivate_consumable_type_path(consumable_type), data: {method: :put, confirm: "Do you want to archive this type?"} do %>
        <%= fa_icon "minus-circle", title: "Archive" %>
      <% end %>
    <% else %>
      <%= link_to activate_consumable_type_path(consumable_type), data: {method: :put, confirm: "Do you want to reactivate this type?"} do %>
        <%= fa_icon "plus-circle", title: "Activate" %>
      <% end %>
    <% end %>
  </td>
</tr>
