<tr>
  <td><%= consumable_type.name %></td>
  <td><%= consumable_type.days_to_keep %></td>
  <td><%= consumable_type.freezer_temperature %></td>
  <td class="text-center">
    <%= link_to edit_consumable_type_path(consumable_type) do %>
      <%= fa_icon "pencil" %>
    <% end %>
  </td>
</tr>