<%= form_for @consumable_type do |f| %>
  <fieldset>
    <legend></legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :days_to_keep %>
        <%= f.text_field :days_to_keep %>
      </li>
      <li>
          <%= render partial: 'editable_parents', locals: { parent_ids: @consumable_type.parent_ids, collection: ConsumableType.order_by_name, behavior: 'ingredients', form: f } %>
      </li>
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </fieldset>
<% end %>