<%= form_for @consumable_type do |f| %>
  <fieldset>
    <legend></legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :days_to_keep %>
        <%= f.text_field :days_to_keep %>
      </li>
        <%= render partial: 'ingredients', locals: {
          all_ingredients: ConsumableType.all,
          current_ingredients: @consumable_type.parent_ids,
          form: f
        } %>
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </fieldset>
<% end %>