<%= form_for @batch_form, url: yield(:url), method: yield(:method) do |f| %>

    <script type="text/javascript">
      Mixtio.Bootstrap.UserFavourites  = <%= json_escape(ConsumableType.find_user_favourites(current_user).to_json.html_safe) %>
      Mixtio.Bootstrap.ConsumableTypes = <%= json_escape(ConsumableType.order_by_name.to_json(include: {latest_batch: {include: {ingredients: {}, consumables: {}}}, latest_lot: {}}).html_safe) %>
      Mixtio.Bootstrap.SelectedConsumableType = <%= json_escape(@batch_form.consumable_type_id.to_json.html_safe) %>
      Mixtio.Bootstrap.Kitchens        = <%= json_escape(Kitchen.order_by_name.to_json.html_safe) %>
      Mixtio.Bootstrap.Ingredients     = <%= json_escape(@batch_form.ingredients.to_json.html_safe) %>

      Mixtio.Bootstrap.Units           = <%= json_escape(Consumable.units.to_json.html_safe) %>

      <% if @batch.present? %>
      // Contains one consumable per sub-batch, so the info can be used to populate the table
      Mixtio.Bootstrap.SubBatches      = <%= json_escape(@batch.consumables.group(:sub_batch_id).to_json.html_safe) %>
      // Contains the counts of consumables with each sub-type ID
      Mixtio.Bootstrap.SubBatchCounts  = <%= json_escape(@batch.consumables.group(:sub_batch_id).count.to_json.html_safe) %>
      <% barcode_type = {} %>
      <% @batch.consumables.group(:sub_batch_id).each do |sub_batch| %>
        <% consumable_id = sub_batch.id %>
        <% sub_batch_id = sub_batch.sub_batch_id %>
        <% barcode_type[consumable_id] = @batch.single_barcode?(sub_batch) %>
      <% end %>
      Mixtio.Bootstrap.SubBatchSingleBarcodes = <%= json_escape(barcode_type.to_json.html_safe)%>
      <% else %>
      // Creating a new batch, so initialise empty objects to be used by JS
      Mixtio.Bootstrap.SubBatches      = {};
      Mixtio.Bootstrap.SubBatchCounts  = {};
      <% end %>
    </script>

    <div class="form-group">
      <%= f.label :consumable_type_id, "Consumable Type*" %>

      <div class="row">
        <div class="col-md-11">
          <%= f.select :consumable_type_id, {}, { include_blank: true }, { class: 'form-control' } %>
        </div>
        <div class="col-md-1">
          <%= fa_icon "star 3x", class: 'disabled' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h3>Ingredients</h3>
      <%= f.fields_for "ingredients[]", Ingredient.new do |ingredient| %>
        <%= hidden_field_tag "batch_form[ingredients][]" %>

        <div class="row">
          <div class="col-md-12">
            <table id="batch-ingredients-table" class="table table-striped">
            <thead>
              <tr>
                <th>Ingredient*</th><th>Lot/Batch Number</th><th>Supplier (Product Code)*</th><th></th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      <% end %>

      <div class="row">

        <div id="consumable-barcode" class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon" id="barcode-scanner">
              <%= fa_icon "barcode" %>
            </span>
            <input type="text" class="form-control" aria-describedby="barcode-scanner" placeholder="Scan Barcode">
          </div>
          <span class="help-block"></span>
        </div>

        <div class="col-md-offset-6 col-md-3 text-right">
          <button id="add_ingredient_button" class="btn btn-primary btn-block">
            <%= fa_icon "plus" %> Add Ingredient
          </button>
        </div>

      </div>

    </div>

    <div class="form-group">
      <%= f.label :expiry_date, "Expiry Date*" %>
      <%= f.text_field :expiry_date, { class: 'form-control', data: { behavior: "datepicker" } } %>
    </div>

    <div class="form-group">
      <h3>Sub-Batches</h3>

        <div class="row">
          <div class="col-md-12">
            <table id="batch-sub-batch-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Aliquots</th><th>Volume</th><th>Unit</th><th>Barcodes</th><th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

      <div class="row">
        <div class="col-md-offset-9 col-md-3 text-right">
          <button id="add_sub_batch_button" class="btn btn-primary btn-block">
            <%= fa_icon "plus" %> Add Sub-Batch
          </button>
        </div>

      </div>

    </div>

    <div class="form-group">
      <label>Batch volume</label>
      <div class="input-group">
        <input class="form-control" id="calculated_batch_volume" readonly>
        <span class="input-group-addon">L</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit (yield :action), { class: 'btn btn-primary pull-right' } %>
    </div>

<% end %>
