<%= form_for @batch_form, :url => batches_path do |f| %>

    <script type="text/javascript">
      Mixtio.Bootstrap.UserFavourites  = <%= json_escape(ConsumableType.find_user_favourites(current_user).to_json.html_safe) %>
      Mixtio.Bootstrap.ConsumableTypes = <%= json_escape(ConsumableType.order_by_name.to_json(include: {latest_ingredients: {}, latest_lot: {}}).html_safe) %>
      Mixtio.Bootstrap.Kitchens        = <%= json_escape(Kitchen.order_by_name.to_json.html_safe) %>
    </script>

    <div class="form-group">
      <%= f.label :consumable_type_id, "Consumable Type*" %>

      <div class="row">
        <div class="col-md-11">
          <%= f.select :consumable_type_id, {}, { include_blank: true }, { class: 'form-control' } %>
        </div>
        <div class="col-md-1">
          <%= fa_icon "star 3x", class: 'disabled' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ingredients %>
      <%= f.fields_for "ingredients[]", Ingredient.new do |ingredient| %>
        <%= hidden_field_tag "batch_form[ingredients][]" %>

        <div class="row">
          <div class="col-md-12">
            <table id="batch-ingredients-table" class="table table-striped">
              <tr>
                <th>Ingredient*</th><th>Lot/Batch Number</th><th>Supplier (Product Code)*</th><th></th>
              </tr>
            </table>
          </div>
        </div>
      <% end %>

      <div class="row">

        <div id="consumable-barcode" class="col-md-9">
          <div class="input-group">
            <span class="input-group-addon" id="barcode-scanner">
              <%= fa_icon "barcode" %>
            </span>
            <input type="text" class="form-control" aria-describedby="barcode-scanner"></input>
          </div>
          <span class="help-block"></span>
        </div>

        <div class="col-md-3 text-right">
          <button id="add_ingredient_button" class="btn btn-primary btn-block">
            <%= fa_icon "plus" %> Add Ingredient
          </button>
        </div>

      </div>

    </div>

    <div class="form-group">
      <%= f.label :expiry_date, "Expiry Date*" %>
      <%= f.text_field :expiry_date, { class: 'form-control', data: { behavior: "datepicker" } } %>
    </div>

    <div class="form-group">
      <%= f.label :aliquots, "Number of Aliquots*" %>
      <%= f.text_field :aliquots, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :aliquot_volume, 'Aliquot volume*' %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_field :aliquot_volume, { class: 'form-control' } %>
        </div>
        <div class="col-md-3">
          <%= f.select :aliquot_unit, Consumable.units, {}, { class: 'form-control' } %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :batch_volume, "Batch Volume*" %>
      <div class="input-group">
        <%= f.text_field :batch_volume, { class: 'form-control' } %>
        <span class="input-group-addon">L</span>
      </div>
    </div>

    <div class="checkbox">
      <%= f.label :single_barcode do %>
        <%= f.check_box :single_barcode %> All aliquots share one barcode
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit 'Create Batch', { class: 'btn btn-primary pull-right' } %>
    </div>

<% end %>