<%= form_for @batch, as: :mixable, url: yield(:url), method: yield(:method), data: { behavior: 'batch-form' } do |f| %>

    <script type="text/javascript">
      Mixtio.Bootstrap.UserFavourites  = <%= json_escape(ConsumableType.active.where(team:current_team).find_user_favourites(current_user).to_json.html_safe) %>
      Mixtio.Bootstrap.ConsumableTypes = <%= json_escape(ConsumableType.active.where(team:current_team).order_by_name.to_json(methods: [:prefill_data]).html_safe) %>
      Mixtio.Bootstrap.SelectedConsumableType = <%= json_escape(@batch.consumable_type_id.to_json.html_safe) %>
      Mixtio.Bootstrap.Kitchens        = <%= json_escape(Kitchen.active.order_by_name.to_json.html_safe) %>
      Mixtio.Bootstrap.Ingredients     = <%= json_escape(@batch.mixture_criteria.to_json.html_safe) %>
      Mixtio.Bootstrap.Units           = <%= json_escape(SubBatch.units.to_json.html_safe) %>
      Mixtio.Bootstrap.SubBatches      = <%= json_escape(@batch.sub_batches.to_json(methods: [:size, :quantity, :single_barcode?]).html_safe) %>
      Mixtio.Bootstrap.Projects        = <%= json_escape(Project.active.order_by_name.to_json.html_safe) %>
      Mixtio.Bootstrap.InputUnits      = <%= json_escape(Unit.all.to_json.html_safe) %>
    </script>

    <div class="form-group">
      <%= f.label :consumable_type_id, "Consumable Type*" %>

      <div class="row">
        <div class="col-md-11">
          <%= f.select :consumable_type_id, {}, { include_blank: true }, { class: 'form-control' } %>
        </div>
        <div class="col-md-1">
          <%= fa_icon "star 3x", class: 'disabled' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h3>Ingredients</h3>
      <%= render 'mixture_criteria', f: f, for_recipe: false %>
    </div>

    <div class="form-group">
      <%= f.label :expiry_date, "Use by date*" %>
      <%= f.text_field :expiry_date, { class: 'form-control', data: { behavior: "datepicker", params: { minDate: 0 } } } %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <%= f.label :concentration, "Concentration" %>
        </div>
        <div class="col-md-2">
          <%= f.label :concentration_unit, "Unit" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.number_field :concentration, class: 'form-control', step: :any, min: 0, id: 'concentration_field' %>
        </div>
        <div class="col-md-2">
          <%= f.select :concentration_unit, Batch::CONCENTRATION_UNITS, {}, class: 'form-control', id:'concentration_unit_field' %>
        </div>
      </div>

    </div>

    <div class="form-group">
      <h3>Sub-Batches</h3>

        <div class="row">
          <div class="col-md-12">
            <table id="batch-sub-batch-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Aliquots</th><th>Volume</th><th>Unit</th><th>Barcodes</th><th>Project</th><th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

      <div class="row">
        <div class="col-md-offset-9 col-md-3 text-right">
          <button id="add_sub_batch_button" class="btn btn-primary btn-block">
            <%= fa_icon "plus" %> Add Sub-Batch
          </button>
        </div>

      </div>

    </div>

    <div class="form-group">
      <label>Batch volume</label>
      <div class="input-group">
        <input class="form-control" id="calculated_batch_volume" readonly>
        <span class="input-group-addon">L</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit (yield :action), data: { disable_with: false }, class: 'btn btn-primary pull-right' %>
    </div>

<% end %>
