<section class="container">
  <script type="text/javascript">
    Mixtio.Bootstrap.Printers  = <%= json_escape(LabelType.all.map { |l| [l.external_id, l.printers.map { |p| p.name }]}.to_h.to_json.html_safe) %>
  </script>

  <%= render "error_messages", target: @batch %>
  <h2>Batch <%= @batch.number %></h2>

  <h3>Information</h3>

  <ul>
    <li><strong>Created at: </strong><%= @batch.created_at %></li>
    <li><strong>Created by: </strong><%= @batch.user.username %> (<%= @batch.kitchen.name %>)</li>
    <li><strong>Consumable type: </strong><%= @batch.consumable_type.name %></li>
    <li><strong>Expiry date: </strong><%= @batch.expiry_date %></li>
    <li><strong>Storage conditions: </strong><%= @batch.consumable_type.storage_condition %></li>
    <li><strong>Consumables: </strong><%= @batch.consumables.length %></li>
    <% if @batch.consumables.length > 0 and @batch.consumables.first.display_volume %>
      <li><strong>Aliquot Volume: </strong><%= @batch.consumables.first.display_volume %></li>
    <% end %>
    <li><strong>Batch Volume: </strong><%= @batch.display_volume %></li>
    <li><strong>Barcode Type: </strong><% if @batch.single_barcode? %>One per batch<% else %>One per aliquot<% end %></li>
  </ul>

  <h3>Ingredients</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ingredient</th><th>Lot/Batch Number</th><th>Supplier (Product Code)</th><th></th>
      </tr>
    </thead>

    <tbody>
      <% @batch.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.consumable_type.name %></td>
        <td><%= ingredient.number %></td>
        <td><%= ingredient.kitchen.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#printModal">
    Print Labels
  </button>

  <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Print labels for Batch <%= @batch.number %></h4>
        </div>
        <%= form_tag(print_path(@batch), method: "post", "data-behavior": "print_form") do %>
        <div class="modal-body">

          <div class="form-group">
            <%= label_tag :label_template_id %>
            <%= select_tag :label_template_id, options_for_select(LabelType.all.map { |type| [type.name, type.external_id] }), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag(:printer, "Printer") %>
            <%= select_tag :printer, options_from_collection_for_select(Printer.all, :name, :name), class: 'form-control' %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Print", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</section>