<section class="container">
  <script type="text/javascript">
    Mixtio.Bootstrap.Printers  = <%= json_escape(LabelType.all.map { |l| [l.id, l.printers.map { |p| p.name }]}.to_h.to_json.html_safe) %>
  </script>

  <%= render "error_messages", target: @batch %>
  <div class="row">
    <div class="col-md-6">
      <h2>Batch <%= @batch.number %></h2>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <% if (@batch.created_at != @batch.updated_at) %>
        <small class="pull-right">
          <%= "Updated by " + @batch.user.username %> (<%= @batch.kitchen.name %>) <%= time_ago_in_words(@batch.updated_at) %> ago
        </small><br>
      <% end %>
      <small class="pull-right">Created <%= "by " + @batch.user.username + " (" + @batch.kitchen.name + ")" if (@batch.created_at == @batch.updated_at) %> at <%= @batch.created_at %></small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h3>Information</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Consumable type: </strong><%= link_to @batch.consumable_type.name, edit_consumable_type_path(@batch.consumable_type) %></li>
        <li class="list-group-item"><strong>Use by date: </strong><%= @batch.expiry_date %></li>
        <li class="list-group-item"><strong>Storage conditions: </strong><%= @batch.consumable_type.storage_condition or 'None specified' %></li>
        <li class="list-group-item"><strong>Concentration:</strong> <%= @batch.display_concentration %></li>
      </ul>
    </div>
      <div class="col-md-7">
        <h3>Sub-Batches</h3>
        <table class="table table-striped" id="sub-batch-table">
          <thead>
            <tr>
              <th>Qty.</th><th>Volume</th><th>Total</th><th>Barcodes</th><th>Project</th>
            </tr>
          </thead>
          <tbody>
            <% @batch.sub_batches.each do |sub_batch| %>
              <% if sub_batch.single_barcode? %>
                <% sub_batch_barcode_type = "single" %>
              <% else %>
                <% sub_batch_barcode_type = "per aliquot" %>
              <% end %>
              <tr id="sub-batch-<%= sub_batch.id %>">
                <td><%= sub_batch.size %></td>
                <td><%= sub_batch.display_volume %></td>
                <td><%= sub_batch.total_volume(true) %></td>
                <td><%= sub_batch_barcode_type %></td>
                <td><%= Project.find(sub_batch.project_id).name %></td>
              </tr>
            <% end %>
            <tr class="info top-border">
              <td><strong><%= @batch.consumables.count %></strong></td>
              <td><strong><%= @batch.display_volume %></strong></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Ingredients</h3>
      <% if @batch.ingredients.count == 0 %>
        <div style="padding-bottom: 10px;">
          None
        </div>
      <% else %>
        <table class="table table-striped" id="ingredients-table">
          <thead>
            <tr>
              <th>Ingredient</th><th>Lot/Batch Number</th><th>Supplier (Product Code)</th><th>Quantity</th>
            </tr>
          </thead>

          <tbody>
            <% @batch.mixtures.each do |mixture| %>
            <% ingredient = mixture.ingredient %>
            <tr>
              <td><%= ingredient.consumable_type.name %></td>
              <td><%= ingredient.number %></td>
              <td><%= supplier_with_product_code(ingredient) %></td>
              <td><%= "#{mixture.quantity} #{mixture.unit&.name}" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <% if @batch.editable? %>
        <%= button_to "Edit Batch", edit_batch_path(@batch), class: "btn btn-primary", method: :get %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= button_to "Raise support request", support_batch_path(@batch), class: "btn btn-primary", method: :get %>
    </div>

    <div class="col-md-offset-6 col-md-2">
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#printModal">
        Print Labels
      </button>
    </div>
  </div>

  <div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Print labels for Batch <%= @batch.number %></h4>
        </div>
        <%= form_tag(print_batch_path(@batch), method: "post", "data-behavior": "print_form") do %>
        <div class="modal-body">

          <div class="form-group">
            <%= label_tag :label_type_id %>
            <%= select_tag :label_type_id, options_for_select(LabelType.all.map { |type| [type.name, type.id] }, @batch.consumable_type.last_label_id ), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag(:printer, "Printer") %>
            <%= select_tag :printer, options_from_collection_for_select(Printer.all, :name, :name), class: 'form-control' %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Print", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
