<div data-behavior="<%= behavior %>">
  <%= form.hidden_field :parent_ids, value: "", data: { id: "parent_ids" } %>
  <li>
    <%= label_tag(:parent) %>
    <%= select_tag :parent, options_from_collection_for_select(collection, :id, :name), {include_blank: true} %>

    <%= yield %>

    <%= link_to '+', "#", data: { behavior: "add_parent"}, title: "Add Parent" %>
    <%= link_to '-', "#", data: { behavior: "remove_parent"}, title: "Remove Parent" %>
  </li>
</div>