<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Mixtio", root_path, { class: "navbar-brand" } %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Suppliers", suppliers_path %></li>
          <li><%= link_to "Types", consumable_types_path %></li>
          <li><%= link_to "Batches", batches_path %></li>
          <li><%= render "current_user" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>