<div class="row">
  <div class="col-md-12">
    <h1>
      Suppliers <%= link_to new_supplier_path, { class: 'btn btn-success btn-large pull-right', role: 'button' } do %>
        <%= fa_icon "plus" %> New Supplier
      <% end %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate suppliers %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Supplier</th><th></th>
      </tr>
      <%= render suppliers %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <%= paginate suppliers %>
    </div>
  </div>
</div>

