<%= form_for(@consumable) do |f| %>
  <fieldset>
    <legend></legend>
    <ul>
       <li>
        <ul>
          <li>
            <%= f.label :consumable_type_id %>
            <%= f.select :consumable_type_id, options_from_collection_for_select(ConsumableType.order_by_name, :id, :name, @consumable.consumable_type_id), {include_blank: true}, data: { behavior: "consumable-type" } %>
          </li>
          <li>
            <%= link_to 'Load ingredients', "#", data: { behavior: "load-ingredients"}, title: "Load ingredients" %>
          </li>
        </ul>
      </li>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <h4>Ingredients</h4>
        <table>
          <tr>
            <th>Ingredient</th><th>Lot Number</th><th>Supplier</th><th></th>
          </tr>
          <%= render partial: 'ingredients', locals: { ingredients: @consumable.parents } %>
        </table>
      </li>
      <li>
        <%= f.label :expiry_date %>
        <%= f.text_field :expiry_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :lot_number %>
        <%= f.text_field :lot_number %>
      </li>
      <li>
        <%= f.label :arrival_date %>
        <%= f.text_field :arrival_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :supplier %>
        <%= f.text_field :supplier %>
      </li>
      <li>
        <%= f.label :aliquots %>
        <%= f.text_field :aliquots %>
      </li>
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </fieldset>
<% end %>