<%= form_for(@consumable) do |f| %>
  <fieldset>
    <legend></legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
       <li>
        <%= f.label :consumable_type_id %>
        <%= f.select :consumable_type_id, options_from_collection_for_select(ConsumableType.all, :id, :name, @consumable.consumable_type_id), {include_blank: true}, data: { behavior: "consumable_type" } %>
        <%= link_to 'Load ingredients', "#", data: { behavior: "load_ingredients"}, title: "Load ingredients" %>
      </li>
      <li>
        <%= f.label :expiry_date %>
        <%= f.text_field :expiry_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :lot_number %>
        <%= f.text_field :lot_number %>
      </li>
      <li>
        <%= f.label :arrival_date %>
        <%= f.text_field :arrival_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :supplier %>
        <%= f.text_field :supplier %>
      </li>
      <li>
        <%= f.label :number_of_children %>
        <%= f.text_field :number_of_children %>
      </li>
        <%= render partial: 'ingredients', locals: {
          all_ingredients: Consumable.all,
          behavior: 'parents',
          form: f,
          scannable: true
        } %>
      <li data-output="ingredients-list">
      </li>
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </fieldset>
<% end %>