<%= form_for(@consumable) do |f| %>
  <fieldset>
    <legend></legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :expiry_date %>
        <%= f.text_field :expiry_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :lot_number %>
        <%= f.text_field :lot_number %>
      </li>
      <li>
        <%= f.label :arrival_date %>
        <%= f.text_field :arrival_date, data: { behavior: "datepicker"} %>
      </li>
      <li>
        <%= f.label :supplier %>
        <%= f.text_field :supplier %>
      </li>
      <li>
        <%= f.label :consumable_type_id %>
        <%= f.select :consumable_type_id, options_from_collection_for_select(ConsumableType.all, :id, :name, @consumable.consumable_type_id) %>
      </li>
      <li>
        <%= f.label :number_of_children %>
        <%= f.text_field :number_of_children %>
      </li>
      <div data-behavior="parents">
        <%= f.hidden_field :parent_ids, value: "", data: { id: "parent_ids" }%>
        <li>
          <%= label_tag(:parent) %>
          <%= select_tag :parent, options_from_collection_for_select(Consumable.all, :id, :name), {include_blank: true} %>
          <%= link_to '+', "#", data: { behavior: "add_parent"}, title: "Add Parent" %>
          <%= link_to '-', "#", data: { behavior: "remove_parent"}, title: "Remove Parent" %>
        </li>
      </div>
      <li>
        <%= f.submit %>
      </li>
    </ul>
  </fieldset>
<% end %>
