<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mixtio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render "header" %>
    <div class="top"></div>
    <div class="main container">
      <%= render "flashes" %>
      <%= yield %>
    </div>
    <%= render "footer" %>
  </body>
</html>
